@media screen and (max-width: 850px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header {
    width: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .navbar {
    gap: 1rem;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .written-content {
    width: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .services-image {
    width: 374px;
    align-items: center;
    text-align: center;
  }

  .stand-out {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .skills-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .skills-article-graphich, .skills-article-photography {
    width: 374px;
  }

  .client-area-title-container {
    display: flex;
    text-align: center;
    width: 374px;
    padding-top: 2rem;
  }

  .client-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 374px;
    gap: 6rem;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gallery-image {
    width: 374px;
  }

  footer {
    width: 374px;
  }

  .copy {
    font-size: 0.90rem;
  }
}