@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

:root {
  /* Primary Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Colors Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* fonts */
  --font-barlow: 'Barlow',sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-fraunces: 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 1.125rem;
  font-family: var(--font-inter);
}

header {
  background-color: var(--dark-grayish-blue);
  background-image: url(../components/images/desktop/image-header.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3.75rem; 
}

.header-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.header-logo {
  width: 8.2rem;
  height: 1.6rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.navbar > .navbar-item {
  color: var(--white);
}

nav .another-source {
  font-family: var(--font-barlow);
  font-weight: bold;
}

.navbar-item:hover {
  color: var(--very-dark-grayish-blue);
  transition-duration: 0.5s;
}

#navbar-button {
  background-color: var(--white);
  font-family: var(--font-fraunces);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 1.25rem;
  color: #000;
  padding: 1rem;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

#navbar-button:hover {
  background-color: transparent;
  color: var(--white);
  box-shadow: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.125rem;
}

.header-title {
  font-family: var(--font-fraunces);
  color: var(--white);
  font-weight: 900;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

main {
  display: flex;
  flex-direction: column;
}

.section-services {
  display: flex;
  flex-direction: column;
}

.transform {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.written-content {
  display: flex;
  flex-direction: column;
  max-height: 34.375rem;
  width: 50%;
  padding: 0 6rem;
  gap: 2rem;
}

.services-image {
  min-height: 34.375rem;
  width: 50%;
}

.services-title {
  font-family: var(--font-fraunces);
  font-weight: 900;
  font-size: 2.4rem;
  color: var(--very-dark-desaturated-blue);
  letter-spacing: 0.25rem;
}

.services-p {
  font-family: var(--font-barlow);
  font-weight: 500;
  color: var(--dark-grayish-blue);
}

.button-services {
  color: #000;
  font-family: var(--font-fraunces);
  font-weight: 900;
  letter-spacing: 0.063rem;
  width: 9.375rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1.25rem;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

#bnt-transform {
  background-color: var(--yellow);
}

#bnt-transform:hover {
  background-color: #000;
  color: var(--yellow);
  transition-duration: 0.5s;
}

.stand-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#bnt-stand-out {
  background-color: var(--soft-red);
}

#bnt-stand-out:hover {
  background-color: #000;
  color: var(--soft-red);
  transition-duration: 0.5s;
}

.skills-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}


.skills-article-graphich {
  background-color: var(--very-dark-grayish-blue);
  background-image: url(../components/images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 0 6rem;
  gap: 2rem;
}


.skills-article-photography {
  background-color: var(--very-dark-grayish-blue);
  background-image: url(../components/images/desktop/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 0 6rem;
  gap: 2rem;
}

.skills-article-title {
  font-family: var(--font-fraunces);
  font-weight: 900;
  font-size: 2rem;
  color: var(--very-dark-desaturated-blue);
}

.skills-article-p {
  font-family: var(--font-barlow);
  font-weight: 700;
  color: var(--white)
}

.client-area-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.client-area-title {
  font-family: var(--font-fraunces);
  color: var(--dark-grayish-blue);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

.client-testimonials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem; 
  margin-bottom: 6rem;
}

.client-area {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  gap: 2rem;
}

.client-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.client-testimony {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.client-p {
  font-family: var(--font-barlow);
  color: var(--dark-grayish-blue);
}

.client-name {
  font-family: var(--font-fraunces);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--very-dark-desaturated-blue)
}

.client-office {
  font-family: var(--font-barlow);
  font-weight: 500;
  font-size: 1rem;
  color: var(--grayish-blue);
}



